<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Vue de la caserne</title>
    <meta name="description" content="Ceci est une description">
    <meta name="author" content="Le meilleur groupe">

    <!-- Inclus JQuery-->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js')}}"></script>

    <!-- Inclus le CSS et le js pour la map Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='asset/favicon.ico') }}">
  </head>

  <body>
    <h1>D'ici, vous pouvez observer tous les feux que les pompiers on répertorié et regarder où sont les camions.</h1>
    <div id="mapid"></div>
    <button onclick="locationLoad()" id="loadMarkersButton">Actualiser les marqueurs suivants</button>
    <select name="markers" size="1" id="markersLayerSelection">
        <option value="both">Les feux et les camions</option>
        <option value="fire">Les feux seulement</option>
        <option value="truck">Les camions seulement</option>
        </select>
        <button onclick="resetLocations()" id="resetMarkersButton">Supprimer les marqueurs de la carte</button>
      <script>displayMap()</script>
  </body>
</html>